.grid {
  width: 200px;
  height: 400px;
  background-color: #C8C7A8;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.grid .tetromino {
  background-color: #db1d04;
}
