.container-fluid {
  display: flex;
}

.display-next-grid {
  background-color: #C8C7A8;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  margin-left: 30px;
  width: 80px;
}

.display-next-grid .tetromino {
  background-color: #0424db;
  border-style: outset;
}

.game-grid {
  background-color: #C8C7A8;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 200px;
}

.game-grid .tetromino {
  background-color: #db1d04;
  border-style: outset;
}

.square {
  height: 20px;
  width: 20px;
}
